<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedCategories()" [disabled]="!selectedCategory || !selectedCategory.length"></button>
    </ng-template>

  </p-toolbar>

  <p-table #dt [value]="categories" [rows]="10" [paginator]="true " [globalFilterFields]="['name']"
           [(selection)]="selectedCategory" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Categories</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..." />
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Image</th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>

        <th></th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr>
        <td>
          <p-tableCheckbox [value]="category"></p-tableCheckbox>
        </td>
        <td><img [src]="category.url" [alt]="category.name" width="100" class="p-shadow-4" /></td>
        <td>{{category.name}}</td>
        <td>{{category.description}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editCategories(category)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteCategories(category)"></button>
          <button pButton pRipple icon="pi pi-chevron-right" class="p-button-rounded p-button-help" (click)="ShowSubCategories(category)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{categories ? categories.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="catDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <img [src]=" category.url" [alt]="category.url" class="product-image" *ngIf="category.url">
    <div class="p-field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="category.name" required autofocus />
      <small class="p-error" *ngIf="submitted && !category.name">Name is required.</small>
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea id="description" pInputTextarea [(ngModel)]="category.description" required rows="3" cols="20"></textarea>
      <small class="p-error" *ngIf="submitted && !category.description">Description is required.</small>

    </div>
    <div class="p-field">
      <label >Parent Id</label>
      <p-dropdown [(ngModel)]="category.parentId" inputId="parentId"  [autoDisplayFirst]="false" [options]="categories" placeholder="Select" optionLabel="name">
        <ng-template let-option pTemplate="item">
          <span [class]=" option.value">{{option.name}}</span>
        </ng-template>
      </p-dropdown>
    </div>
    <label >Icon</label>
    <p-fileUpload #fubauto mode="basic" name="demo[]" url="./upload.php" accept="image/*"  (onUpload)="onUpload($event)" [auto]="true" chooseLabel="Browse"></p-fileUpload>



  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveCategories()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


<p-dialog  [(visible)]="subcatDialog" [style]="{width: '800px'}" header=" Sub Categories " [modal]="true" styleClass="p-fluid">
  <p-table #dt [value]="subcategories" [rows]="10" [paginator]="true"
           [(selection)]="selectedCategory" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Categories</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..." />
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Image</th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>

        <th></th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category>
      <tr>
        <td>
          <p-tableCheckbox [value]="category"></p-tableCheckbox>
        </td>
        <td><img [src]="category.url" [alt]="category.name" width="100" class="p-shadow-4" /></td>
        <td>{{category.name}}</td>
        <td>{{category.description}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editCategories(category)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteCategories(category)"></button>
          <button pButton pRipple icon="pi pi-chevron-right" class="p-button-rounded p-button-help" (click)="ShowSubCategories(category)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{categories ? categories.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>

</p-dialog>
