<p-toast></p-toast>

<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
      <button pButton pRipple label="Order" icon="pi pi-shopping-cart" class="p-button-help p-mr-2" (click)="orderSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
    </ng-template>
    <div class="p-d-flex">
      <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
      <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
    </div>
  </p-toolbar>

  <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['name']"
           [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Products</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..." />
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox ></p-tableHeaderCheckbox>

        </th>
        <th>Image</th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
        <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon></th>
        <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
        <th pSortableColumn="brand">Brand <p-sortIcon field="brand"></p-sortIcon></th>

        <th></th>
        <th></th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>

        <td>
          <p-tableCheckbox [value]="product" ></p-tableCheckbox>
        </td>
        <td><img [src]="product.productImages[0].url" [alt]="product.name" width="100" class="p-shadow-4" /></td>
        <td>{{product.name}}</td>
        <td>{{product.price | currency:' TND'}}</td>
        <td>{{product.category.name}}</td>
        <td>{{product.code}}</td>
        <td>{{product.brand}}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editProduct(product)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
        </td>
        <td>
          <button pButton pRipple label="Details" class="p-button-rounded p-button-warning p-mr-2" (click)="show(product)"></button>
          <button pButton pRipple label="Information"  class="p-button-rounded p-button-danger p-mr-2" (click)="showInfo(product)"></button>
          <button pButton pRipple label="Mouvement" class="p-button-rounded p-button-help p-mr-2" (click)="showMvt(product)"></button>
          <button pButton pRipple label="ExtraCost" class="p-button-rounded p-button-success p-mr-2" (click)="showExtraCost(product)"></button>
          <button pButton pRipple label="Supplier" class="p-button-rounded p-button-plain p-mr-2" (click)="showSupplier(product)"></button>

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{products ? products.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product " [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="tmpCode">TMP Code</label>
      <input type="text" pInputText id="tmpCode" [(ngModel)]="product.tmpCode" required autofocus />
      <small class="p-error" *ngIf="submitted && !product.tmpCode">TMP Code is required.</small>
    </div>
    <div class="p-field">
      <label for="code"> Code</label>
      <input type="text" pInputText id="code" [(ngModel)]="product.code" required autofocus />
      <small class="p-error" *ngIf="submitted && !product.code"> Code is required.</small>
    </div>
    <div class="p-field">
      <label for="name"> Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus />
      <small class="p-error" *ngIf="submitted && !product.name"> Name is required.</small>
    </div>
    <div class="p-field">
      <label for="brand"> Brand</label>
      <input type="text" pInputText id="brand" [(ngModel)]="product.brand" required autofocus />
      <small class="p-error" *ngIf="submitted && !product.brand"> Brand is required.</small>
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea id="description" pInputTextarea [(ngModel)]="product.description" required rows="3" cols="20"></textarea>
      <small class="p-error" *ngIf="submitted && !product.description">Description is required.</small>

    </div>
    <div class="p-field">
      <label > SKU</label>
      <p-inputNumber [(ngModel)]="product.sku" ></p-inputNumber>
      <small class="p-error" *ngIf="submitted && !product.sku"> SKU is required.</small>
    </div>
    <div class="p-field">
      <label > ISBN</label>
      <p-inputNumber [(ngModel)]="product.isbn" ></p-inputNumber>
      <small class="p-error" *ngIf="submitted && !product.isbn"> ISBN is required.</small>
    </div>
    <div class="p-field">
      <label >Category</label>
      <p-dropdown [(ngModel)]="product.category" inputId="category"  [autoDisplayFirst]="false" [options]="categories" placeholder="Select" optionLabel="name">
        <ng-template let-option pTemplate="item">
          <span [class]=" option.value">{{option.name}}</span>
        </ng-template>
      </p-dropdown>
    </div>
    <div class="p-field">
      <label >Supplier</label>
      <p-dropdown [(ngModel)]="supplier" inputId="supplier"  [autoDisplayFirst]="false" [options]="suppliers" placeholder="Select" optionLabel="name">
        <ng-template let-option pTemplate="item">
          <span [class]=" option.value">{{option.name}}</span>
        </ng-template>
      </p-dropdown>
    </div>

    <div>
    <br>
    <br>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Next" icon="pi pi-arrow-right" class="p-button-text" (click)="showInfoDialog()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<p-dialog [(visible)]="infoDialog" [style]="{width: '450px'}" header="Information " [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label >Max</label>
      <p-inputNumber [(ngModel)]="information.max" suffix=" Piece"></p-inputNumber>
      <small class="p-error" *ngIf="submitted && !information.max">Max is required.</small>
    </div>
    <div class="p-field">
      <label >Min</label>
      <p-inputNumber [(ngModel)]="information.min" suffix=" Piece"></p-inputNumber>
      <small class="p-error" *ngIf="submitted && !information.min">Min is required.</small>
    </div>
    <div class="p-field">
      <label >Security</label>
      <p-inputNumber [(ngModel)]="information.security" suffix=" Piece"></p-inputNumber>
      <small class="p-error" *ngIf="submitted && !information.security">Security is required.</small>
    </div>
<!--    <p-fileUpload name="demo[]"  (onUpload)="onUpload($event,product)"-->
<!--                  accept="image/*" >-->
<!--      <ng-template pTemplate="content">-->
<!--        <ul *ngIf="uploadedFiles.length">-->
<!--          <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>-->
<!--        </ul>-->
<!--      </ng-template>-->
<!--    </p-fileUpload>-->

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideInfoDialog()"></button>
    <button pButton pRipple label="Next" icon="pi pi-arrow-right" class="p-button-text" (click)="showproductExtraCostDialog()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-dialog [(visible)]="productExtraCostDialog" [style]="{width: '450px'}" header="Product Extra Cost " [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label >Fixed Cost</label>
      <p-inputNumber [(ngModel)]="productExtraCost.fixedCost" suffix=" TND"></p-inputNumber>
      <small class="p-error" *ngIf="submitted && !productExtraCost.fixedCost">Fixed Cost is required.</small>
    </div>
    <div class="p-field">
      <label >Variable Cost</label>
      <p-inputNumber [(ngModel)]="productExtraCost.variableCost" suffix=" TND"></p-inputNumber>
      <small class="p-error" *ngIf="submitted && !productExtraCost.variableCost">Variable Cost is required.</small>
    </div>
    <div class="p-field">
      <label >Profit Margin</label>
      <p-inputNumber [(ngModel)]="productExtraCost.profitMargin" suffix=" TND"></p-inputNumber>
      <small class="p-error" *ngIf="submitted && !productExtraCost.profitMargin">Profit Margin is required.</small>
    </div>


  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideExtraDialog()"></button>
    <button pButton pRipple label="Next" icon="pi pi-arrow-right" class="p-button-text" (click)="showdetailsDialog()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-dialog [(visible)]="detailsDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">


    <button pButton pRipple type="button" icon="pi pi-plus" title="Add Column" (click)="addDetailsForm()"  [disabled]="details.length === 20" class="p-mr-2"></button>
    <button pButton pRipple type="button" icon="pi pi-minus" title="Remove Column" (click)="removeDetailsForm()" [disabled]="details.length === 1"></button>

    <div class="p-grid ">

      <div class="p-col" *ngFor="let detail of details; let i=index ; " [@animation]="'visible'">
        <div class="box">
          <div class="p-field">
            <label > Attribute</label>
            <input type="text" pInputText   [(ngModel)]="detail.attribute" required autofocus />
            <small class="p-error" *ngIf="submitted && !detail.attribute"> Attribute is required.</small>
          </div>
          <div class="p-field">
            <label > Value</label>
            <input type="text" pInputText  [(ngModel)]="detail.value" required autofocus />
            <small class="p-error" *ngIf="submitted && !detail.value"> Value is required.</small>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDetailDialog()"></button>
    <button pButton pRipple label="Next" icon="pi pi-arrow-right" class="p-button-text" (click)="showPs()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-dialog [(visible)]="productSupplierDialog" [style]="{width: '450px'}" header="Product Supplier" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="supplierProductCode" >Supplier Product Code</label>
      <input type="text" pInputText id="supplierProductCode" [(ngModel)]="productSupplier.supplierProductCode" required autofocus />
      <small class="p-error" *ngIf="submitted && !productSupplier.supplierProductCode">Supplier Product Code is required.</small>
    </div>

    <div class="p-field">
      <label for="deliveryETA">Delivery ETA</label>
      <input type="text" pInputText id="deliveryETA" [(ngModel)]="productSupplier.deliveryETA" required autofocus />
      <small class="p-error" *ngIf="submitted && !productSupplier.deliveryETA">Delivery ETA is required.</small>
    </div>

    <div class="p-field">
      <label >Vat Code</label>
      <p-inputNumber [(ngModel)]="productSupplier.vatCode" ></p-inputNumber>
      <small class="p-error" *ngIf="submitted && !productSupplier.vatCode">Vat Code is required.</small>
    </div>

    <div class="p-field">
      <label  >Discount Rate</label>
      <p-inputNumber [(ngModel)]="productSupplier.discountRate" ></p-inputNumber>
      <small class="p-error" *ngIf="submitted && !productSupplier.discountRate">Discount Rate is required.</small>
    </div>

    <div class="p-field">
      <label  >Unit Price</label>
      <p-inputNumber [(ngModel)]="productSupplier.unitPrice" ></p-inputNumber>
      <small class="p-error" *ngIf="submitted && !productSupplier.unitPrice">Unit Price is required.</small>
    </div>


  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hidePSDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-arrow-right" class="p-button-text" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>



<p-dialog [(visible)]="supplierDialog"  [style]="{width:'950px'}" header="Product Supplier" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <p-table   [value]="product.suppliers" >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name">Name</th>
          <th pSortableColumn="fiscalCode">Fiscal Code</th>
          <th pSortableColumn="patentcode">Patent Code</th>
          <th pSortableColumn="legalStatus">Legal Status</th>
          <th pSortableColumn="category">Category</th>
          <th pSortableColumn="finality">Finality</th>
          <th pSortableColumn="size">Size</th>
          <th pSortableColumn="sector">Sector</th>
          <th pSortableColumn="scope">Scope</th>
      </ng-template>
      <ng-template pTemplate="body" let-supplier>
        <tr>
          <td>{{supplier.name}}</td>
          <td>{{supplier.fiscalCode}}</td>
          <td>{{supplier.patentcode}}</td>
          <td>{{supplier.legalStatus}}</td>
          <td>{{supplier.category}}</td>
          <td>{{supplier.finality}}</td>
          <td>{{supplier.size}}</td>
          <td>{{supplier.sector}}</td>
          <td>{{supplier.scope}}</td>

        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          In total there are {{product.suppliers ? product.suppliers.length : 0 }} suppliers for this product.
        </div>
      </ng-template>
    </p-table>

  </ng-template>

</p-dialog>




