<p-toast></p-toast>

<div class="card">
  <p-table  #dt [value]="suppliers"
           [rowHover]="true" >
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Suppliers</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')" placeholder="Search..." />
                </span>
      </div>
    </ng-template>>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">Name</th>
      <th pSortableColumn="fiscalCode">fiscalCode</th>
      <th pSortableColumn="patentcode">patentcode</th>
      <th pSortableColumn="legalStatus">legalStatus</th>
      <th pSortableColumn="category">category</th>
      <th pSortableColumn="finality">finality</th>
      <th pSortableColumn="size">size</th>
      <th pSortableColumn="sector">sector</th>
      <th pSortableColumn="scope">scope</th>
      <th></th>
  </ng-template>
  <ng-template pTemplate="body" let-supplier>
    <tr>
      <td>{{supplier.name}}</td>
      <td>{{supplier.fiscalCode}}</td>
      <td>{{supplier.patentcode}}</td>
      <td>{{supplier.legalStatus}}</td>
      <td>{{supplier.category}}</td>
      <td>{{supplier.finality}}</td>
      <td>{{supplier.size}}</td>
      <td>{{supplier.sector}}</td>
      <td>{{supplier.scope}}</td>

      <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editSupplier(supplier)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteSupplier(supplier)"></button>
      </td>
    </tr>
  </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{suppliers ? suppliers.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>
<p-dialog [(visible)]="supplierDialog" [style]="{width: '450px'}" header="Supplier Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="supplier.name" required autofocus />
      <small class="p-error" *ngIf="submitted && !supplier.name">Name is required.</small>
    </div>


  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveSupplier()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
