<nav id="sidebar" class="sidebar" *ngIf="isLoggedIn">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand active" routerLink="home"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
      <span class="align-middle">3s2i Dashboard</span>
    </a>

    <ul class="sidebar-nav">

      <li class="sidebar-item " routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <a class="sidebar-link" routerLink="home">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
        </a>
      </li>

      <li class="sidebar-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <a class="sidebar-link" routerLink="supplier" >
          <i class="align-middle" data-feather="book"></i> <span class="align-middle">Suppliers</span>
        </a>
      </li>
      <li class="sidebar-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <a class="sidebar-link" routerLink="product" >
          <i class="align-middle" data-feather="package"></i> <span class="align-middle">Product</span>
        </a>
      </li>
      <li class="sidebar-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <a class="sidebar-link" routerLink="category" >
          <i class="align-middle" data-feather="shopping-bag"></i> <span class="align-middle">Category</span>
        </a>
      </li>
      <li class="sidebar-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <a class="sidebar-link" routerLink="order" >
          <i class="align-middle" data-feather="activity"></i> <span class="align-middle">Customer Orders</span>
        </a>
      </li>
      <li class="sidebar-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <a class="sidebar-link" routerLink="ordersupplier" >
          <i class="align-middle" data-feather="database"></i> <span class="align-middle">Supplier Orders</span>
        </a>
      </li>
      <li class="sidebar-item" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <a class="sidebar-link" routerLink="deliverycustomer" >
          <i class="align-middle" data-feather="tag"></i> <span class="align-middle">Delivery Customer</span>
        </a>
      </li>
    </ul>

  </div>
</nav>
