<p-card   header="Organization" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
  <ng-template pTemplate="header">
  </ng-template>
  <p >
  Name:{{dashboard[0].name}};
    <br>
  Patent Code:{{dashboard[0].patentcode}};
    <br>
  Fiscal Code:{{dashboard[0].fiscalCode}};
    <br>
  Category:{{dashboard[0].category}};
    <br>
  Legal Status{{dashboard[0].legalStatus}};
    <br>
  Size:{{dashboard[0].size}};
    <br>
  Sector:{{dashboard[0].sector}};
    <br>
  Scope:{{dashboard[0].scope}};
    <br>
  </p>
</p-card>
<div class="row">
  <div class="col-xl-6 col-xxl-5 d-flex">
    <div class="w-100">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-4">Categories</h5>
              <h1 class="display-5 mt-1 mb-3">{{category}}</h1>

            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-4">Mouvement</h5>
              <h1 class="display-5 mt-1 mb-3">{{mvt}}</h1>

            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-4">Mouvement IN</h5>
              <h1 class="display-5 mt-1 mb-3">{{mvtIN}}</h1>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-4">Product</h5>
              <h1 class="display-5 mt-1 mb-3">{{product}}</h1>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-4">Earnings</h5>
              <h1 class="display-5 mt-1 mb-3">{{earning | currency:'  TND'}}</h1>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-4">Orders</h5>
              <h1 class="display-5 mt-1 mb-3">{{count}}</h1>

            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-4">Mouvement OUT</h5>
              <h1 class="display-5 mt-1 mb-3">{{mvtOUT}}</h1>

            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-4">Supplier</h5>
              <h1 class="display-5 mt-1 mb-3">{{supplier}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>
<h5>Organization Hierarchy</h5>
<p-organizationChart [value]="data1" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
                     styleClass="company">
  <ng-template let-node pTemplate="person">
    <div class="node-header p-corner-top">{{node.label}}</div>
    <div class="node-content">
    </div>
  </ng-template>
  <ng-template let-node pTemplate="department">
    {{node.label}}
  </ng-template>
</p-organizationChart>


