<p-toast></p-toast>

<div class="card">
  <p-table #dt [value]="SupplierOrders" [rows]="10" [paginator]="true"
           [(selection)]="selectedSupplierOrder" [rowHover]="true" dataKey="id"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Manage Customer Orders</h5>
        <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')" placeholder="Search..." />
                </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="orderNumber">Order Number <p-sortIcon field="orderNumber"></p-sortIcon></th>
        <th pSortableColumn="createdDate">Order Date <p-sortIcon field="createdDate"></p-sortIcon></th>
        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
      <tr>
        <td>{{order.orderNumber}}</td>
        <td>{{order.orderDate}}</td>
        <td><span [class]="'product-badge status-' + (order.status ? order.status .toLowerCase() : '')">{{order.status }}</span></td>
        <td>
          <button pButton pRipple icon="pi pi-chevron-right" class="p-button-rounded p-button-help" (click)="ShowOrderItem(order)"></button>
          <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success" (click)="ConfirmOrder(order)"></button>
          <button pButton pRipple icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="CancelOrder(order)"></button>

        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{SupplierOrders ? SupplierOrders.length : 0 }} orders.
      </div>
    </ng-template>
  </p-table>
</div>

<p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
